.gymTypeContainer {
  width: 95%;
  margin: auto;
}
.searchContainer {
  width: 90%;
  height: 60px;
  margin: 70px auto;
  border: 3px solid white;
  border-radius: 5px;
  display: flex;

  align-items: center;
}
.searchGyms {
  width: 86%;
  color: white;
  border: none;
  outline: none;
  font-size: 23px;

  background-color: transparent;
}
::placeholder {
  color: white;
  font-size: 23px;
  font-weight: 600;
}
.gymTypeBottomContainer {
  display: flex;
}
.gymFilters {
  width: 25%;
  color: white;
  padding: 2rem;
}
.gymResults {
  width: 67%;
  color: white;
}
.gymResultsContainer {
  width: 98%;
  height: 300px;
  border-radius: 8px;
  display: flex;
 
 
  margin: 4px;
  background-color: rgba(42, 40, 41, 0.42);
 
}
.freeGifImg {
  width: 100px;
  height: 90px;
}
.gymFreeGif {
  width: 50%;
}
.gymInfo {
  width: 50%;
}
.gymPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-top: 60px;
}
.bookNow-button {
  width: 130px;
  height: 50px;
  padding: 3px;
  color: white;
  font-size: 18px;
  background-color: #5e0707;
  border-radius: 5px;
}
.searchFilter {
  width: 90%;
  height: 60px;

  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  background-color: rgba(42, 40, 41, 0.42);

  align-items: center;
}
::placeholder {
  color: white;
  font-size: 23px;
  font-weight: 600;
}
.locationTextBox {
  outline: none;
  border: none;
  font-size: 23px;

  color: white;

  background-color: transparent;
}
.PriceTextBox {
  width: 100px;
  height: 60px;
  border-radius: 3px;
  padding: 3px;
  outline: none;
  font-size: 23px;

  color: white;
  border: 2px solid lightgray;

  background-color: rgba(42, 40, 41, 0.42);
}
.selectCity {
  width: 90%;
  height: 63px;
  border-radius: 3px;
  padding: 3px;
  font-size: 23px;
  outline: none;
  color: white;
  border: 2px solid lightgray;

  background-color: rgba(42, 40, 41, 0.42);
}
